{% extends 'base.html' %} {% load i18n %} {% block title %}
{% trans "Login Page" %} {% endblock %} {% block title2 %}{% trans "Login Page" %}{% endblock %} 
{% load crispy_forms_tags %} {% block content %}
<form action="#" method="POST" , class="form-group">
  {% csrf_token %} {{ form | crispy }}
  <p>
    {% trans "Dont have an account? Create one" %} <a href="/register/">{% trans "here" %}</a>
  </p>
  <button type="submit" class="btn btn-primary">
    {% trans "Login" %}
  </button>
</form>
{% endblock %} {% block login %} {% endblock login %}
