{% extends 'base.html' %}
{% load i18n %}

{% block title  %}{% trans "Create an Account" %}{% endblock  %}
{% block title2 %}{% trans "Create an Account" %}{% endblock title2 %}
{% load crispy_forms_tags %}

{% block content  %}
    <p>{% trans "Already have an account? Log in" %} <a href="/login/">{% trans "here" %}</a></p>
    <form action="#" method="POST", class="form-group">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">{% trans "Register" %}</button>
    </form>
{% endblock  %}

{% block login %}
{% endblock login %}