{% extends 'base.html' %}

{% block title %}Tracker{% endblock %}
{% block title2 %}Worksheet View{% endblock title2 %}

{% block content %}
{% if user.is_authenticated %}
<h3>{{ws.name}}</h3>
<h2>{{ws.date}}</h2>


<h3>Start new task</h3>
<div class="d-grid gap-3">
    <form method="post" action="#" , class="form-group">
        {% csrf_token %}
        <div class="d-grid gap-3">

            <div class="btn-group-lg gap-3 me-1" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <!-- stores list -->
                    {% for item in ws.stores %}
                    <input type="radio" class="btn-check" name="store_list" id="btnradio{{forloop.counter}}"
                        autocomplete="off" required value={{item.number}}>
                    <label class="btn btn-outline-primary" for="btnradio{{forloop.counter}}">{{item.number}}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="input-group">
                <div class="input-group-text" id="btnGroupAddon">Select Operation</div>

                <select class="form-select form-control-lg" name="operation_list" aria-describedby="btnGroupAddon"
                    required>
                    <option disabled>Select Operation</option>
                    <!-- operation list -->
                    {% for item in ws.operations %}
                    <option value={{item.name}}>{{item.name}} - {{item.desc}}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Start New Button -->
            <div class="d-grid gap-3">
                <button class="btn btn-success" type="submit" name="start_new" , value="start_new">Start New</button>
            </div>
        </div>
    </form>


    <!-- table -->
    <table class="table table-striped table-hover table-bordered shadow p-3 mb-5 bg-body rounded">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start Time</th>
                <th scope="col">Operation</th>
                <th scope="col">Store</th>
                <th scope="col">End Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for entry in ws.entry_set.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td colspan="1">{{entry.start_time}}</td>
                <td colspan="1">{{entry.operation}}</td>
                <td colspan="1">{{entry.store}}</td>
                <td colspan="1">{{entry.end_time}}</td>
                <td colspan="1"><a href="update/{{entry.id}}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Undo button -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#undo_button">
        Undo
    </button>

    <!-- Modal -->
    <div class="modal fade" id="undo_button" tabindex="-1" aria-labelledby="undolLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="undoLabel">Confirm Undo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

        
                <div class="modal-body">
                    This will delete the most recently created entry. You cannot undo this action. Are you sure? {{ws.entry_set.last}}
                </div>  
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="#" , class="form-group">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" name="delete" value="delete">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- complete button -->
    <form method="post" action="#" , class="form-group">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button class="btn btn-info" type="submit" name="complete" , value="complete">Complete</button>
        </div>
    </form>
    <a href="/export">Export to Excel !</a>
</div>


{% endif %}
{% endblock content %}