{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block title2 %}home{% endblock title2 %}

{% block content %}
{% if user.is_authenticated %}
    <form method="post" action="#", class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit" , name="save" , class="btn btn-primary">Create New</button>
            </div>
            {{form}}
        </div>
    </form>
    
{% else %}
    
        <p>Login<a href="/login">Here</a></p>
{% endif %}
{% endblock content %}
    