{% extends 'base.html' %}
{% load tz %}

{% block title %}Tracker{% endblock %}
{% block title2 %}Worksheet View{% endblock title2 %}

{% block content %}
{% if user.is_authenticated %}
<h3>{{ws.name}}</h3>
<h2>{{ws.date}}</h2>


<h3>Start new task</h3>
<div class="d-grid gap-3">
    <form method="post" action="#" , class="form-group">
        {% csrf_token %}
        <div class="d-lg-grid gap-3">

            <div class="btn-toolbar gap-3 me-1" role="toolbar" aria-label="Toolbar with button groups">
                <!-- stores list -->
                <div class="btn-group btn-group-lg me-3" role="group" aria-label="Basic radio toggle button group">

                    <input type="radio" class="btn-check" name="store_list" id="btnradio1" autocomplete="off" checked
                        value=116>
                    <label class="btn btn-outline-primary" for="btnradio1">116</label>

                    <input type="radio" class="btn-check" name="store_list" id="btnradio5" autocomplete="off" value=517>
                    <label class="btn btn-outline-primary" for="btnradio5">167</label>

                    <input type="radio" class="btn-check" name="store_list" id="btnradio2" autocomplete="off" value=215>
                    <label class="btn btn-outline-primary" for="btnradio2">215</label>

                    <input type="radio" class="btn-check" name="store_list" id="btnradio3" autocomplete="off" value=254>
                    <label class="btn btn-outline-primary" for="btnradio3">254</label>

                    <input type="radio" class="btn-check" name="store_list" id="btnradio4" autocomplete="off" value=517>
                    <label class="btn btn-outline-primary" for="btnradio4">517</label>
                </div>

                <!-- operation list -->
                <div class="input-group">
                    <div class="input-group-text" id="btnGroupAddon">Select Operation</div>
                    <input class="form-control" list="datalistOptions2" id="exampleDataList2" name="operation_list"
                        placeholder="Type to search..." aria-describedby="btnGroupAddon" required>
                    <datalist id="datalistOptions2">
                        <option value="PROC">
                        <option value="PICK">
                        <option value="DEL">
                        <option value="BREAK">
                    </datalist>
                </div>
            </div>

            <button class="btn btn-success" type="submit" name="start_new" , value="start_new">Start New</button>
        </div>
    </form>
    <!-- Undo button -->
    <form method="post" action="#" , class="form-group">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button class="btn btn-danger" type="submit" name="delete" , value="delete">Undo</button>
        </div>
    </form>
    <!-- table -->
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Start_Time</th>
                <th scope="col">Task</th>
                <th scope="col">Store</th>
                <th scope="col">End_Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in ws.entry_set.all %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td colspan="1">{{entry.start_time}}</td>
                <td colspan="1">{{entry.operation}}</td>
                <td colspan="1">{{entry.store}}</td>
                <td colspan="1">{{entry.end_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/export">Export to Excel !</a>
    <!-- complete button -->
    <form method="post" action="#" , class="form-group">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button class="btn btn-info" type="submit" name="complete" , value="complete">complete</button>
        </div>
    </form>
</div>


{% endif %}
{% endblock content %}