{% extends 'base.html' %}

{% block title %}Tracker{% endblock %}
{% block title2 %}tracker{% endblock title2 %}

{% block content %}
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Start_Time</th>
            <th scope="col">Task</th>
            <th scope="col">Store</th>
            <th scope="col">End_Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td colspan="1">5:00am</td>
            <td colspan="1">PROC</td>
            <td colspan="1">116</td>
            <td colspan="1">6:00am</td>
        </tr>
    </tbody>
</table>

{% endblock content %}